:root {
    --white:    #f7f7f7;
    --black:    #09090A;
}

.standart-bg {
    background-color: var(--white);
}
body.dark .standart-bg {
    background-color: var(--black);
}

.standart-text{
    color: var(--black);
}

body.dark .standart-text {
    color: var(--white);
}

.nav-link {
    color: var(--black);
}
body.dark .nav-link {
    color: var(--white);
}

.dropdown-menu {
    background: var(--black);
}
.dropdown-item {
    color: var(--white);
}

.standart-boarder-white {
    border-color: var(--white);
}