body {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;;
    font-style: normal;
}

.h1 {
    font-size: 64px;
}

@media (max-width: 991.9px) { 
   .h1 {
        font-size: 40px;
    }
 }
