.banner-img {
    height: 100%;
    width: 100%;
    object-fit: cover
}

.h-banner{
    height: calc(100vh - 72px);
}

.carousel-caption {
    bottom:  calc((100vh) / 4 + 25px);
}
.h-logo{
    height: 50px;
}

.toggler-btn {
    background: transparent;
    border: 0;
}
.toggler-btn img{
    height: 30px;
}

.mh-section-img {
    max-height: 450px;
}

.my-section {
    margin-top: 7rem !important;
}