:root {
    --white:    #f7f7f7;
    --black:    #09090A;
    --red:      #5D0303;
}
body{
    background-color: var(--white);
}
body.dark{
    background-color: var(--black);
}

.standart-bg {
    background-color: var(--white);
}
body.dark .standart-bg {
    background-color: var(--black);
}

.standart-text{
    color: var(--black);
}

body.dark .standart-text {
    color: var(--white);
}

.nav-link {
    color: var(--black);
}
body.dark .nav-link {
    color: var(--white);
}

.dropdown-menu {
    background: #09090A66;
}
.dropdown-item {
    color: var(--white);
}

.standart-boarder-white {
    border-color: var(--white);
}

.banner-dark {
    display: none;
}
body.dark .banner-dark  { 
    display: block;
}
body.dark .banner-light {
    display: none;
}

.logo-dark {
    display: none;
}
body.dark .logo-light  { 
    display: none;
}
body.dark .logo-dark {
    display: block;
}

.dropdown-toggle::after{
    display: none;
}
 
.toggler-dark {
    display: none;
}
body.dark .toggler-dark  { 
    display: block;
}
body.dark .toggler-light {
    display: none;
}

.text-red {
    color:var(--red);
}