:root {
    --white:        #f7f7f7;
    --black-nav:    #09090A;
    --red:          #9A0000;
    --black:        #111111;
    --gray:         #f1eded;
}
body{
    background-color: var(--white);
}
body.dark{
    background-color: var(--black);
}

.standart-bg {
    background-color: var(--white);
}
body.dark .standart-bg {
    background-color: var(--black-nav);
}

.standart-text{
    color: var(--black);
}

body.dark .standart-text {
    color: var(--white);
}

.nav-link {
    color: var(--black);
}
body.dark .nav-link {
    color: var(--white);
}

.dropdown-menu {
    background: #09090A66;
}
.dropdown-item {
    color: var(--white);
}

.standart-boarder-white {
    border-color: var(--white);
}

.banner-dark {
    display: none;
}
body.dark .banner-dark  { 
    display: block;
}
body.dark .banner-light {
    display: none;
}

.logo-dark {
    display: none;
}
body.dark .logo-light  { 
    display: none;
}
body.dark .logo-dark {
    display: block;
}

.dropdown-toggle::after{
    display: none;
}
 
.toggler-dark {
    display: none;
}
body.dark .toggler-dark  { 
    display: block;
}
body.dark .toggler-light {
    display: none;
}

.text-red {
    color:var(--red);
}

.nav-btn-dark {
    display: none;
}
body.dark .nav-btn-light  { 
    display: none;
}
body.dark .nav-btn-dark {
    display: block;
}
.section {
    background-color: var(--white); 
    background-image: linear-gradient(var(--white), var(--gray));   
}
body.dark .section {
    background-color: var(--black); 
    background-image: linear-gradient(var(--black), var(--black-nav));   
}

.theme-boarder {
    border-bottom: solid var(--black);
}
body.dark .theme-boarder {
    border-bottom: solid var(--white);
}